.cs-footer {
  background-color: #ffffff;
  .cs-footer__content {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #666;
  }
}
